.container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container form > div {
    display: flex;
    flex-direction: column;
}

.container form .scopeRequired {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.scopeRequired div {
    display: flex;
    gap: 3rem;
}

.register input {
    align-self: end;
    width: fit-content;
}

.modifiableList ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 0.5rem;
}

.modifiableList li {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.modifiableList input, .modifiableList select {
    flex: 1;
}

.modifiableList button {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 1px solid gray;
}